In [1]:
import pandas as pd

In [40]:
df_test = pd.read_csv('tiny_example_data/tiny_example_test_queries.tsv', sep='\t', header=None)
df_test.head()

           0                                                  1
0  241676002  espectrocopia por resonancia magnética de sodi...
1  426840007  Se monitorizó de manera seriada el peso del pr...
2   50647002          injerto incrustado deslizable de la tibia
3  313989009      índice sérico colesterol total/colesterol HDL
4  115406008  detección del antígeno linfocitario CD4+HLA - DR+

In [41]:
df_test.shape

(3046, 2)

In [42]:
df_test = df_test.drop_duplicates(keep=False)
df_test.shape

(3015, 2)

In [43]:
df_test.to_csv('tiny_example_data/tiny_example_test_queries.tsv', sep='\t', header=None, index=False)

In [44]:
df_kb = pd.read_csv('tiny_example_data/tiny_example_test_kb.tsv', sep='\t', header=None)
df_kb.head()

                   0                                                  1
0                  0                                                  1
1          386219007     útero en el posparto: disminución del sangrado
2           83362003  última visita del médico al paciente internado...
3  16555451000119104  ínyección terapéutica de rodilla izquierda con...
4  16549151000119108  ínyección terapéutica de rodilla derecha con g...

In [45]:
df_kb.shape

(91987, 2)

In [46]:
df_kb = df_kb.drop_duplicates(keep=False)
df_kb.shape

(91987, 2)

In [48]:
texts = list(df_kb[1].values)

In [49]:
rows_to_remove = []
for index, row in df_test.iterrows():
    if row[1] in texts:
        rows_to_remove.append(index)
        
len(rows_to_remove)

151

In [50]:
df_test = df_test.drop(rows_to_remove)

df_test.shape

(2864, 2)

In [51]:
df_test.to_csv('tiny_example_data/tiny_example_test_queries.tsv', sep='\t', header=None, index=False)

In [24]:
df = pd.concat([df_kb, df_test])

In [26]:
df.shape

(95033, 2)

In [27]:
df = df.drop_duplicates(keep=False)
df.shape

(94732, 2)

In [25]:
df[df[1]=='medición de anticuerpos antivíricos']

             0                                    1
198  122435008  medición de anticuerpos antivíricos

In [9]:
#df.to_csv('tiny_example_data/tiny_example_test_kb.tsv', sep='\t', index=False)

In [12]:
df_train = pd.read_csv('tiny_example_data/tiny_example_train_pairs.tsv', sep='\t', header=None)
df_train = df_train.sample(frac=1).reset_index(drop=True)
df_train.head()

,0,1,2
0,238315007,ajuste de catéter de diálisis peritoneal ambul...,ajuste de catéter de diálisis peritoneal ambul...
1,35904009,detección de ácido desoxirribonucleico de papi...,detección del ADN del virus del papiloma humano
2,362994003,biopsia de estructura del sistema inmunológico,biopsia de estrucutra del sistema inmunológico
3,25187007,incisión y drenaje de absceso epiploico,incisión y drenaje de un absceso omental
4,388681002,medición de anticuerpo inmunoglobulina E espec...,medición de anticuerpo IgE específico f25

In [13]:
df_train.to_csv('tiny_example_data/tiny_example_train_pairs.tsv', sep='\t', header=None, index=False)

In [10]:
df_val = pd.read_csv('tiny_example_data/tiny_example_validation_pairs.tsv', sep='\t', header=None)
df_val.head()

,0,1,2
0,178098006,resección de quiste sinovial de pie,resección de ganglión de pie
1,433200009,angiografía fluoroscópica de arteria braquioce...,angiografía fluoroscópica de arteria braquioce...
2,438600004,medición del gasto cardiaco durante el ejercic...,medición del volumen minuto cardiaco durante e...
3,15901000087106,angiografía fluoroscópica de arteria subclavia...,angiografía con guía fluoroscópica de arteria ...
4,76144001,resección radical para el tratamiento de una i...,resección radical para el tratamiento de una i...

In [11]:
df_val = df_val.sample(frac=1).reset_index(drop=True)
df_val.head()

,0,1,2
0,274506003,anestesia local operatoria,anstesia local operatoria
1,32485007,admisión hospitalaria,internación
2,492661000119109,tomografía computarizada de articulación ester...,tomografía computada de articulación esternocl...
3,417897001,angiografía fluoroscópica de aorta y arterias ...,angiografía con guía fluoroscópica de aorta y ...
4,395141005,cribado mediante prueba de detección de autoan...,cribaje mediante prueba de detección de autoan...

In [14]:
df_val.to_csv('tiny_example_data/tiny_example_validation_pairs.tsv', sep='\t', header=None, index=False)

In [68]:
df_train_ner = pd.read_csv('medprocner_data/georgi_results_train_all_strict_v3.tsv', sep='\t', header=0)
df_train_ner.head()

,filename,label,start_span,end_span,text
0,es-S0210-48062004000400008-1,PROCEDIMIENTO,61,142,"intervención de pólipo adenomatoso en colon, h..."
1,es-S0210-48062004000400008-1,PROCEDIMIENTO,244,253,analítica
2,es-S0210-48062004000400008-1,PROCEDIMIENTO,366,386,sistemático de orina
3,es-S0210-48062004000400008-1,PROCEDIMIENTO,392,412,radiografía de tórax
4,es-S0210-48062004000400008-1,PROCEDIMIENTO,433,452,ecografía abdominal

In [69]:
df_query_train = df_train_ner['text']

In [70]:
df_query_train.head()

0    intervención de pólipo adenomatoso en colon, h...
1                                            analítica
2                                 sistemático de orina
3                                 radiografía de tórax
4                                  ecografía abdominal
Name: text, dtype: object

In [71]:
df_query_train.to_csv('medprocner_data/train_query.tsv', sep='\t', index=False)

In [ ]:
# create final kb
#umls_procedures_full
#medprocner_tsv_train_subtask2

In [79]:
df_umls_procedures_full = pd.read_csv('medprocner_data/umls_procedures_full.tsv', sep='\t', header=None)
df_umls_procedures_full.columns = ['code', 'text']
df_umls_procedures_full.head()

                code                                               text
0          386219007     útero en el posparto: disminución del sangrado
1           83362003  última visita del médico al paciente internado...
2  16555451000119104  ínyección terapéutica de rodilla izquierda con...
3  16549151000119108  ínyección terapéutica de rodilla derecha con g...
4  16549351000119106  ínyección terapéutica de muñeca izquierda con ...

In [73]:
df_medprocner_tsv_train_subtask2 = pd.read_csv('medprocner_data/medprocner_tsv_train_subtask2.tsv', sep='\t', header=0)
df_medprocner_tsv_train_subtask2.head()

,filename,label,start_span,end_span,text,code,sem_rel,is_abbrev,is_composite,need_context
0,S0004-06142005000700014-1,PROCEDIMIENTO,1023,1044,Auscultación pulmonar,449264008,EXACT,False,False,False
1,S0004-06142005000700014-1,PROCEDIMIENTO,1143,1166,exploración neurológica,84728005,EXACT,False,False,False
2,S0004-06142005000700014-1,PROCEDIMIENTO,1307,1328,exploración urológica,302778005,EXACT,False,False,False
3,S0004-06142005000700014-1,PROCEDIMIENTO,1452,1461,palpación,113011001,EXACT,False,False,False
4,S0004-06142005000700014-1,PROCEDIMIENTO,1509,1525,transiluminación,103741002,EXACT,False,False,False

In [75]:
filter_no_code = df_medprocner_tsv_train_subtask2['code'].str.contains('NO_CODE')
filter_multiple = df_medprocner_tsv_train_subtask2['code'].str.contains("\+")
df_train_clean = df_medprocner_tsv_train_subtask2[~(filter_no_code | filter_multiple)]

In [76]:
df_train_clean[['code', 'text']]

           code                                               text
0     449264008                              Auscultación pulmonar
1      84728005                            exploración neurológica
2     302778005                              exploración urológica
3     113011001                                          palpación
4     103741002                                   transiluminación
...         ...                                                ...
4852  439846009                       FAVI radiocefálica izquierda
4853  164780005  se le coloca un catéter temporal yugular izqui...
4854   27929005                     FAVI húmero cefálica izquierda
4855   45211000                             colocación del catéter
4856  103715008                               retirada del catéter

[4681 rows x 2 columns]

In [80]:
df_full_kb = pd.concat([ df_umls_procedures_full, df_train_clean[['code', 'text']]])

In [81]:
df_full_kb.head()

                code                                               text
0          386219007     útero en el posparto: disminución del sangrado
1           83362003  última visita del médico al paciente internado...
2  16555451000119104  ínyección terapéutica de rodilla izquierda con...
3  16549151000119108  ínyección terapéutica de rodilla derecha con g...
4  16549351000119106  ínyección terapéutica de muñeca izquierda con ...

In [82]:
df_full_kb.shape

(140082, 2)

In [83]:
df_full_kb = df_full_kb.drop_duplicates()

In [84]:
df_full_kb.shape

(129945, 2)

In [86]:
df_full_kb.to_csv('medprocner_data/full_final_kb.tsv', sep='\t', index=False, header=None)